.movie {
    padding: 1%;
    width: 96vw;
}



.top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left, .right {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.cast-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

span {
    font-size: large;
}